.menu__link {
    color: green;
    margin-right: 2rem;
    text-decoration: none;
    text-transform: lowercase;
    font-family: 'Roboto', sans-serif;

}

.menu__link.ativo {
    color: greenyellow;
    font-weight: bold;
}


.menu__link:hover {
    text-decoration: underline;
    font-size: 18px;
}