.planos__botao {
    color: #ffffff;
    background: green;
    border-radius: 5px;
    border-style: none;
    padding: 0.5rem;
    transition-duration: 2s;
    width: 100%;

}

.planos__botao:hover {
    background: greenyellow;
    color: black;
    cursor: pointer;

}