.banner__imagem {
    height: calc(100vh - 370px);
    width: 100%;
    opacity: 20%;
}

.banner__container {
    background-color: black;
}

@media screen and (min-width: 0) {
    .banner__imagem {
        height: calc(100vh - 650px);
        opacity: 70%;
    }
}

@media screen and (min-width: 768px) {
    .banner__imagem {
        height: calc(100vh - 130px);
        opacity: 55%;
    }


}