.rodape {
    background-color: #000000;
    color: #FFFFFF;
    padding: 2rem 5rem;

}

@media (min-width: 0px) {
    .rodape {
        text-align: center;

    }
}

@media (min-width: 768px) {
    .rodape {
        text-align: center;

    }
}
