.sobre {
    display: flex;
    width: 85%;
    flex-flow: wrap column;
    margin: 0 7.5%;

}

strong {
    color: green;
}

@media screen and (min-width: 0) {
    .sobre {

        flex-shrink: 1;

    }
}

@media screen and (min-width: 768px) {
    .sobre {
        padding-bottom: 2rem;
    }
}